@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

*,
*::before,
*::after {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

:root {
    --poppins: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #442e2e;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--poppins);
  }